.Bandeiras {
    /* background-color: wheat; */
    background-color: transparent;
    display: contents;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
}

.Bandeiras img {
    width: 30px;
    height: 24px;
    padding: 2px;
    cursor: pointer;
}