.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto
}

/* Esta definição estava bagunçando o burger para telas menores.
    @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */